:root {
	--shade-size: 300px;
	--home-width: 10%;

	--shade-border-radius: 14px;

	--scale-begin: 0.7;
}



span, h1 {
	width: initial;
	height: initial;
}



color, tab-heads {
	user-select: none;
}



tab-heads {
	font-family: Lato !important;
}



#logo-text, #logo-sub-text {
	text-align: center;
}