tab-heads {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;

	position: fixed;

	z-index: 5;

	background: var(--background-color);
}



tab-head {
	height: 100%; /* Relative to the container */

	background: var(--background-color);
	transition: background var(--fast-speed);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	font-size: 200%;

	color: var(--text-color);
}



tab-head:hover {
	background: var(--dark-accent);
}



tab-head.active {
	background: var(--medium-accent);

	cursor: default;
}



tab-head.active:hover {
	background: var(--light-accent);
}



tab-head {
	width: calc(calc(100% - var(--home-width)) / 4);
}



tab-head#home {
	width: var(--home-width);
}