/* General */

tab-container {
	width: 100%; /* padding */
	height: 90%;

	top: 10%;
	position: absolute;
}



tab-content {
	display: grid;

	grid-template-columns: repeat(auto-fit, var(--shade-size));
	justify-content: center;
	column-gap: 4rem;
	
	grid-template-rows: auto;
	row-gap: 4rem;

	font-size: 150%;

	padding: 3rem;
}



tab-content#default { /* Other tab contents are grids; this overrides */
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}



h1#logo {
	margin-top: 0.5em;

	text-shadow: 0 0 5px #eeea;
	transition: text-shadow var(--fast-speed);
}



h1#logo:hover {
	text-shadow: 0 0 7px #eeec;
}