table {
	position: absolute;
	left: 50%;
	top: 50%;

	width: 40vw;
	height: 40vw;

	transform: translate(-50%, -50%);

	border-collapse: collapse;

	will-change: filter;
}

table:not([started]) {
	filter: blur(2vw);

	pointer-events: none;
}

table[started] {
	transition: filter var(--very-slow-speed) ease-in-out;

	pointer-events: all;
}



td[cursor], td[cursor] > span {
	cursor: pointer;
}



table tr:nth-child(1) td:nth-child(1) {
	border-right: 5px solid white;
	border-bottom: 5px solid white;
}

table tr:nth-child(1) td:nth-child(2) {
	border-bottom: 5px solid white;
}

table tr:nth-child(1) td:nth-child(3) {
	border-left: 5px solid white;
	border-bottom: 5px solid white;
}



table tr:nth-child(2) td:nth-child(1) {
	border-right: 5px solid white;
}

table tr:nth-child(2) td:nth-child(3) {
	border-left: 5px solid white;
}



table tr:nth-child(3) td:nth-child(1) {
	border-right: 5px solid white;
	border-top: 5px solid white;
}

table tr:nth-child(3) td:nth-child(2) {
	border-top: 5px solid white;
}

table tr:nth-child(3) td:nth-child(3) {
	border-left: 5px solid white;
	border-top: 5px solid white;
}





td[state=" "] > .x {
	display: none;
}

td[state=" "] > .o {
	display: none;
}



td[state="X"] > .x {
	display: block;
}

td[state="X"] > .o {
	display: none;
}



td[state="O"] > .x {
	display: none;
}

td[state="O"] > .o {
	display: block;
}



td {
	width: calc(100% / 3);
	height: calc(100% / 3);
}

td > span {
	text-align: center;
	font-size: 8vw;
}





#start {
	left: 50%;
	top: 50%;

	position: absolute;

	transform: translate(-50%, -50%);


	width: 9vw;
	height: 6vw;

	font-size: 1.5vw;

	border-radius: 1vw;


	background: var(--medium-accent);
	color: var(--text-color);

	border: none;
	outline: none;

	cursor: pointer;
}



#start[clicked] {
	transition: transform var(--slow-speed), opacity var(--medium-speed);

	transform: translate(-50%, 10vh);
	opacity: 0;

	pointer-events: none;
}