/* General */

tab-container {
	width: 100%; /* padding */
	height: 90%;

	top: 10%;
	position: absolute;
}

tab-content {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(var(--shade-size), 1fr));
	grid-template-rows: auto;
	gap: 1rem;

	font-size: 150%;

	padding: 2.5rem;
}

tab-content#default { /* Other tab contents are grids; this overrides */
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}


h1#logo {
	text-shadow: 0 0 5px #eeea;

	transition: text-shadow var(--fast-speed);
}

h1#logo:hover {
	text-shadow: 0 0 7px #eeec;
}