@font-face {
	font-family: "Lato";
	src: url("https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2") format("woff2");

	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");

	font-display: swap;
	font-style: normal;
	font-weight: 400;
}


* {
	font: 18px Roboto;
}




h1 {
	font: 32px Lato;
	font-weight: bold;
}



table {
	border-collapse: separate;
}


.drop-item {
	width: max-content;
	margin: auto;
	cursor: grab;
}

.drop-item:active {
	cursor: grabbing;
}


.drop-zone {
	width: 5em;
	height: 3.75em;
	border: 1px solid black;
}