/* this is ass but I'm working quickly, not good-ly */
#container {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);


	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
}



#label {
	padding: 1em;
	background: #1572b6;
	border-radius: 1em;

	font: 2.5em Lato;
	font-weight: bold;

	text-align: center;
}



#fileUploader {
	display: none;
}



#saveOptions {
	padding-top: 2em;

	opacity: 0;

	animation: fade 0.5s;
	animation-fill-mode: forwards;
}

#saveOptions.show {
	animation: appear 0.5s;
	animation-fill-mode: forwards;

}



@keyframes appear {
	0% {
		opacity: 0;
		pointer-events: none;
	}

	100% {
		opacity: 1;
		pointer-events: all;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
		pointer-events: all;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}



.downloadMethod {
	font-size: 1em;
	border: none;

	background: #1572b6;

	padding: 0.5em;

	font: 1em Lato;
	font-weight: bold;

	text-align: center;

	color: #eeeeee;
	border-radius: 0.75em;
}
