@keyframes scaleFade {
	from {
		opacity: 0;
		transform: scale(var(--scale-begin));
		pointer-events: none;
	}
	to {
		opacity: 1;
		transform: scale(1);
		pointer-events: all;
	}
}

color {
	animation: scaleFade var(--fade-in-time) ease-out;
	animation-fill-mode: backwards;
}

color:nth-child(1) {
	animation-delay: calc(var(--fade-in-time) * 1);
}

color:nth-child(2) {
	animation-delay: calc(var(--fade-in-time) * 2);
}

color:nth-child(3) {
	animation-delay: calc(var(--fade-in-time) * 3);
}

color:nth-child(4) {
	animation-delay: calc(var(--fade-in-time) * 4);
}

color:nth-child(5) {
	animation-delay: calc(var(--fade-in-time) * 5);
}

color:nth-child(6) {
	animation-delay: calc(var(--fade-in-time) * 6);
}

color:nth-child(7) {
	animation-delay: calc(var(--fade-in-time) * 7);
}

color:nth-child(8) {
	animation-delay: calc(var(--fade-in-time) * 8);
}

color:nth-child(9) {
	animation-delay: calc(var(--fade-in-time) * 9);
}

color:nth-child(10) {
	animation-delay: calc(var(--fade-in-time) * 10);
}

color:nth-child(11) {
	animation-delay: calc(var(--fade-in-time) * 11);
}

color:nth-child(12) {
	animation-delay: calc(var(--fade-in-time) * 12);
}

color:nth-child(13) {
	animation-delay: calc(var(--fade-in-time) * 13);
}

color:nth-child(14) {
	animation-delay: calc(var(--fade-in-time) * 14);
}

color:nth-child(15) {
	animation-delay: calc(var(--fade-in-time) * 15);
}

color:nth-child(16) {
	animation-delay: calc(var(--fade-in-time) * 16);
}