:root {
	--tab-hover: #343434;
	--tab-active: #393939;
	--tab-hover-active: #3e3e3e;

	--shade-size: 300px;
	--home-width: 10%;

	--shade-border-radius: 14px;

	--scale-begin: 0.7;
}

span, h1 {
	width: initial;
	height: initial;
}

color, tab-heads {
	user-select: none;
}