canvas {
	width: 1280px;
	height: 720px;

	position: absolute;

	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	image-rendering: pixelated;
}

@media only screen and (max-width: 1280px) {
	canvas {
		transform: translateY(-50%);
		left: 0;
	}
}

@media only screen and (max-height: 720px) {
	canvas {
		transform: translateX(-50%);
		top: 0;
	}
}

@media only screen and (max-width: 1280px) and (max-height: 720px) {
	canvas {
		transform: none;
	}
}