h2 {
	margin-top: 2em;
}

h1 {
	animation: bigFadeUp var(--slow-speed) ease-out backwards;
}

divider {
	animation: centerFadeUp var(--slow-speed) ease-out backwards normal calc(var(--slow-speed) * 0.5);
}

h2 {
	animation: mediumFadeUp var(--medium-speed) ease-out backwards normal calc(var(--slow-speed) * 1.5);
}

project-container project:nth-child(1) {
	animation: mediumFadeUp var(--medium-speed) ease-out backwards normal calc(var(--slow-speed) * 2.5);
}

project-container project:nth-child(2) {
	animation: mediumFadeUp var(--medium-speed) ease-out backwards normal calc(var(--slow-speed) * 3);
}

project-container project:nth-child(3) {
	animation: mediumFadeUp var(--medium-speed) ease-out backwards normal calc(var(--slow-speed) * 3.5);
}






project-container {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(var(--rect-tile-width), 1fr));
	grid-template-rows: auto;

	padding: 2.5rem;

	justify-items: center;
	align-items: center;
}


project {
	width: var(--rect-tile-width);
	height: var(--rect-tile-height);

	cursor: pointer;

	padding: 1em;

	border: 1px solid transparent;
	border-radius: 12px;


	transition: border, box-shadow, transform, var(--medium-speed);

	display: flex;
	align-items: center;
	justify-content: center;
}

project:hover {
	border: 1px solid var(--not-black);

	box-shadow: 0 0 0.5em var(--not-black);

	transform: translateY(-4px);
}

project text {
	font-family: Lato;
	font-size: 220%;
}