#content {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;


	height: 100%;
	width: 100%;

	gap: 3rem;

}



.info-text {
	font: 1.25rem / 1.5 Lato;
	text-align: center;
	opacity: 0.9;

	margin: 0;
}



.italic {
	font-style: italic;
}



#upload-button {
	background: var(--blue);
	padding: 2rem;
	border-radius: 1.5rem;

	font: 2.5rem Lato;
	font-weight: bold;

	text-align: center;

	cursor: pointer;
}



#save-options-container {
	transition: opacity 0.5s;

	display: flex;
	justify-items: right;

	gap: 1rem;
}



#save-options-container button {
	font-size: 1.5rem;
	padding: 1rem;

	border: none;
	border-radius: 1.25rem;
	box-sizing: border-box;

	background: var(--blue);

	font: 1.25rem Lato;
	font-weight: bold;
	text-align: center;
	color: #eeeeee;

	cursor: pointer;
}



#save-options-container button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}



#file-uploader {
	display: none;
}



#downloader {
	display: none;
}
