#keyboard {
	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;
}



table {
	border-collapse: collapse;

	width: 100%;

	table-layout: fixed;

	aspect-ratio: 15 / 1;
}

table:not(:last-child) td {
	border-bottom: none;
}



td {
	box-sizing: border-box;
	border: 1px solid var(--grayer-color);

	text-align: center;
	font-weight: 450;
	font-size: calc(calc(1.5vw + 1vh) / 2);

	user-select: none;
	cursor: pointer;
	
	transition: background var(--short-delay);
}

td:hover {
	background: var(--medium-accent) !important;
}



.s1-1 {
	width: calc(100% / 15);
}

.s3-2 {
	width: 10%;
}

.s4-3 {
	width: calc(11% + calc(100% / 150));
}

.s2-1 {
	width: calc(100% / 7.5);
}

.s9-4 {
	width: 15%;
}

.s11-4 {
	width: calc(18% + (100% / 300));
}

.s6-1 {
	width: 40%;
}
