#keyboard {
	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;


	padding: 3em;

	border-radius: 2em;
}



#keyboard table {
	border-collapse: collapse;

	width: 100%;

	table-layout: fixed;

	aspect-ratio: 15 / 1;

	background-color: var(--background-color);
}



#keyboard table td {
	box-sizing: border-box;
	border: 1px solid var(--grayer-color);

	text-align: center;
	font-weight: 450;
	font-size: calc(calc(1.5vw + 1vh) / 2);

	user-select: none;
	cursor: pointer;
	
	transition: background var(--short-delay);
}

#keyboard table:not(:last-child) td {
	border-bottom: none;
}

#keyboard table tr td:not(:last-child) {
	border-right: none;
}

#keyboard table td:hover {
	background: var(--medium-accent) !important;
}



.s1-1 {
	width: calc(100% / 15); /* the golden ratio */
}

.s3-2 {
	width: calc(calc(3 / 2) * calc(100% / 15));
}

.s7-4 {
	width: calc(calc(7 / 4) * calc(100% / 15));
}

.s2-1 {
	width: calc(calc(2 / 1) * calc(100% / 15));
}

.s9-4 {
	width: calc(calc(9 / 4) * calc(100% / 15));
}

.s11-4 {
	width: calc(calc(11 / 4) * calc(100% / 15));
}

.s6-1 {
	width: calc(calc(6 / 1) * calc(100% / 15));
}
