@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(var(--y-offset));
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes arrowDown {
	from {
		opacity: 0;
		transform: translateY(calc(-1.5 * var(--y-offset))) translateX(-50%);
	}
	to {
		opacity: 1;
		transform: translateX(-50%);
	}
}


#logo, #divider {
	animation: fadeUp var(--slow-fade-time) ease-out;
	animation-fill-mode: backwards;
}

#divider::after {
	animation: arrowDown var(--slow-fade-time) ease-out;
	animation-fill-mode: backwards;
}



#logo {
	animation-delay: calc(1 * var(--slow-fade-time));
}

#divider {
	animation-delay: calc(2 * var(--slow-fade-time));
}

#divider::after {
	animation-delay: calc(3.5 * var(--slow-fade-time));
}