@keyframes bigFadeUp {
	from {
		opacity: 0;
		transform: translateY(var(--large-y-offset));
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes mediumFadeUp {
	from {
		opacity: 0;
		transform: translateY(var(--medium-y-offset));
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes arrowDown {
	from {
		opacity: 0;
		transform: translateY(calc(-1.5 * var(--medium-y-offset))) translateX(-50%);
	}
	to {
		opacity: 1;
		transform: translateX(-50%);
	}
}


#logo, #divider {
	animation: bigFadeUp var(--slow-speed) ease-out backwards;
}

#divider::after {
	animation: arrowDown var(--medium-speed) ease-out backwards;
}

p { 
	animation: mediumFadeUp var(--slow-speed) ease-out backwards;
}


#logo {
	animation-delay: calc(1 * var(--slow-speed));
}

#divider {
	animation-delay: calc(2.5 * var(--slow-speed));
}

#divider::after {
	animation-delay: calc(3.5 * var(--slow-speed));
}

/* #region animate paragraphs */
.text p:nth-child(1) {
	animation-delay: calc(4 * var(--slow-speed));
}

.text p:nth-child(2) {
	animation-delay: calc(4.5 * var(--slow-speed));
}

.text p:nth-child(3) {
	animation-delay: calc(5 * var(--slow-speed));
}

.sign {
	animation: bigFadeUp var(--medium-speed) ease-out backwards;
	animation-delay: calc(7 * var(--slow-speed));
}
/* #endregion */


/* created using code

function pAnimGen(n){let c="";for(let i=1;i<=n;i++){c+=`.text p:nth-child(${i}) {\n\tanimation-delay: calc(${5+((i-1)/2)} * var(--slow-speed));\n}\n\n`;}let e=document.createElement("textarea");document.body.appendChild(e);e.value=c;e.select();document.execCommand("copy");document.body.removeChild(e)}
*/