:root {
	--arrow-size: 14px;

	--tile-width: 300px;
	--title-height: 400px;
}

#logo {
	font-size: 300%;

	text-shadow: 0 0 5px #eeea;
	transition: text-shadow var(--fast-speed);

	width: 100vw;

	text-align: center;

	margin-top: 1em;
}

#logo:hover {
	text-shadow: 0 0 7px #eeec;
}



#divider {
	border: none;
	border-top: 2px solid var(--grayer-color);

	border-radius: 2px;

	margin-bottom: 2em;

	width: 80%;
}


#divider::after {
	content: "";

	left: 50%;

	position: absolute;

	transform: translateX(-50%);

	border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid var(--grayer-color);
}

text-container, tile-container {
	padding: 3em 10% 3em 10%;
}

text-container p {
	font-size: 125%;

	margin-top: 1.5em;
	margin-bottom: 1.5em;

	line-height: 1.3;
}


.construction {
	font-weight: 600;
	color: #fad91f;
}

.fun {
	font-weight: 600;
}

.sign {
	font-style: italic;
	font-size: 200% !important;

	text-align: right;
}



text-container { /* allows this to not be useless */
	display: flex;
	flex-direction: column;
}