/*
text-container, tile-container {
	padding: 3em 10% 3em 10%;
}

text-container p {
	font-size: 125%;

	margin-top: 1.5em;
	margin-bottom: 1.5em;

	line-height: 1.3;
}


.construction {
	font-weight: 600;
	color: #fad91f;
}

.fun {
	font-weight: 600;
}

.sign {
	font-style: italic;
	font-size: 200% !important;

	text-align: right;
}



text-container {
	display: flex;
	flex-direction: column;
}



tile * {
	user-select: none;
}



skipper {
	position: fixed;

	background: #000a;
	padding: 1em;

	border-radius: 1em 0.75em 0.75em 1em;

	box-shadow: 0 4px 8px #0008;

	top: 92%;

	transform: translateX(-50%);
	left: 120%;


	width: max-content;

	user-select: none;
	cursor: pointer;

	transition: left var(--slow-speed), transform var(--fast-speed), box-shadow var(--fast-speed);
}

body.loaded skipper {
	left: calc(100% - 4.5rem);
}

skipper:hover {
	transform: translateX(-50%) scale(1.05) !important;

	box-shadow: 0 6px 10px #0008;
}

skipper.hidden {
	left: 120% !important;

	pointer-events: none;
}
*/


h1 {
	margin: 0;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	animation: glow 3s infinite;
}


@keyframes glow {
	0% {
		text-shadow: 0 0 5px #eeea;
	}

	50% {
		text-shadow: 0 0 9px #eeec;
	}

	100% {
		text-shadow: 0 0 5px #eeea;
	}
}