tile-container {
	display: grid;

	grid-template-columns: repeat(auto-fit, minmax(var(--shade-size), 1fr));
	grid-template-rows: auto;
	gap: 1rem;

	font-size: 150%;

	padding: 2.5rem;

	justify-items: center;
	align-items: center;
}