#grid {
	display: grid;
	
	width: 100vw;
	height: 100vh;

	grid-template-rows: 10fr 45fr 35fr;
	grid-template-columns: 17.5fr 57.5fr 25fr;

	grid-template-areas:
		"header header header"
		"overview keyboard editor"
		"overview drawer editor";
	
	gap: 3em;
}



#header {
	grid-area: header;
}

#overview {
	grid-area: overview;
}

#keyboard {
	grid-area: keyboard;
}

#editor {
	grid-area: editor;
}

#drawer {
	grid-area: drawer;
}
