html, body {
	padding: 0;
	margin: 0;

	background: var(--background-color);
	color: var(--text-color);

	font: 100% Lato, arial;

	height: 100%;
}

:root {
	--background-color: #2b2b2b;
	
	--text-color-selection: #eeeeeefe; /* barely lower alpha so browser doesn't screw it */
	--text-color: #eeeeee;
	--grayer-color: #cccccc;

	--tab-hover: #343434;
	--tab-active: #393939;
	--tab-hover-active: #3e3e3e;

	--hover-scale-amount: 1.03;

	--transition-time: 0.3s;

	--fade-in-time: 0.3s;
	--med-fade-time: 0.6s;
	--slow-fade-time: 1s;
	
	/* --scroll-thumb: #616161;
	--scroll-track: #414141; */
}

::selection {
	background-color: var(--text-color-selection);
	color: var(--background-color);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}