html, body {
	padding: 0;
	margin: 0;

	background: var(--background-color);
	color: var(--text-color);

	font: 100% arial; /* basically a fallback */
}

:root {
	--background-color: #2b2b2b;
	
	--text-color-selection: #eeeeeefe; /* barely lower alpha so browser doesn't screw it */
	--text-color: #eeeeee;
	--grayer-color: #cccccc;

	--tab-hover: #343434;
	--tab-active: #393939;
	--tab-hover-active: #3e3e3e;

	--hover-scale-amount: 1.03;

	--short-delay: 0.1s;

	--fast-speed: 0.3s;
	--medium-speed: 0.6s;
	--slow-speed: 1s;

	--large-y-offset: 16px;
	--medium-y-offset: 8px;
	--small-y-offset: 4px;
	
	--scroll-thumb: #616161;
	--scroll-track: #414141;
}

::selection {
	background-color: var(--text-color-selection);
	color: var(--background-color);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



@font-face {
	font-family: "Lato";
	src: url("https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2") format('woff2');
}

* {
	-webkit-tap-highlight-color: transparent;

	font-family: Roboto;
}

*[font="Lato"], #logo, #logo-text, #logo-sub-text {
	font-family: Lato;
}

#logo {
	margin-bottom: 1em;
}

#logo-sub-text {
	font-size: 85%;
	margin-top: 8px;
	font-style: italic;
}




body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb);
}

body::-webkit-scrollbar-track {
	background: var(--scroll-track);
}


@keyframes bigFadeUp {
	from {
		opacity: 0;
		transform: translateY(var(--large-y-offset));
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes mediumFadeUp {
	from {
		opacity: 0;
		transform: translateY(var(--medium-y-offset));
	}
	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes smallFadeUp {
	from {
		opacity: 0;
		transform: translateY(var(--small-y-offset));
	}
	to {
		opacity: 1;
		transform: none;
	}
}