#canv {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	height: 90vh; /* A/S fixes itself */

	image-rendering: pixelated;
}





#borderCont {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

	height: calc(90vh + 4px); /* 4px for full border, 2 at top + bottom */

	width: calc(calc(90vh / 23 * 10) + 4px); /* as 10/23 of canvas's height = its width, 4px again for border */ 
}

#border {
	position: relative;

	transform: translateY(-100%); /* place at bottom of container */
	top: 100%;

	width: 100%;

	height: calc(calc(100% / 23 * 20) - 2px); /* 20 / 23 of canvas, aka. actual playing field*/

	background-color: white;
}