.a1 {
	transform: translate(0, 875px);
}

.b1 {
	transform: translate(125px, 875px);
}

.c1 {
	transform: translate(250px, 875px);
}

.d1 {
	transform: translate(375px, 875px);
}

.e1 {
	transform: translate(500px, 875px);
}

.f1 {
	transform: translate(625px, 875px);
}

.g1 {
	transform: translate(750px, 875px);
}

.h1 {
	transform: translate(875px, 875px);
}





.a2 {
	transform: translate(0, 750px);
}

.b2 {
	transform: translate(125px, 750px);
}

.c2 {
	transform: translate(250px, 750px);
}

.d2 {
	transform: translate(375px, 750px);
}

.e2 {
	transform: translate(500px, 750px);
}

.f2 {
	transform: translate(625px, 750px);
}

.g2 {
	transform: translate(750px, 750px);
}

.h2 {
	transform: translate(875px, 750px);
}





.a3 {
	transform: translate(0, 625px);
}

.b3 {
	transform: translate(125px, 625px);
}

.c3 {
	transform: translate(250px, 625px);
}

.d3 {
	transform: translate(375px, 625px);
}

.e3 {
	transform: translate(500px, 625px);
}

.f3 {
	transform: translate(625px, 625px);
}

.g3 {
	transform: translate(750px, 625px);
}

.h3 {
	transform: translate(875px, 625px);
}





.a4 {
	transform: translate(0, 500px);
}

.b4 {
	transform: translate(125px, 500px);
}

.c4 {
	transform: translate(250px, 500px);
}

.d4 {
	transform: translate(375px, 500px);
}

.e4 {
	transform: translate(500px, 500px);
}

.f4 {
	transform: translate(625px, 500px);
}

.g4 {
	transform: translate(750px, 500px);
}

.h4 {
	transform: translate(875px, 500px);
}





.a5 {
	transform: translate(0, 375px);
}

.b5 {
	transform: translate(125px, 375px);
}

.c5 {
	transform: translate(250px, 375px);
}

.d5 {
	transform: translate(375px, 375px);
}

.e5 {
	transform: translate(500px, 375px);
}

.f5 {
	transform: translate(625px, 375px);
}

.g5 {
	transform: translate(750px, 375px);
}

.h5 {
	transform: translate(875px, 375px);
}





.a6 {
	transform: translate(0, 250px);
}

.b6 {
	transform: translate(125px, 250px);
}

.c6 {
	transform: translate(250px, 250px);
}

.d6 {
	transform: translate(375px, 250px);
}

.e6 {
	transform: translate(500px, 250px);
}

.f6 {
	transform: translate(625px, 250px);
}

.g6 {
	transform: translate(750px, 250px);
}

.h6 {
	transform: translate(875px, 250px);
}





.a7 {
	transform: translate(0, 125px);
}

.b7 {
	transform: translate(125px, 125px);
}

.c7 {
	transform: translate(250px, 125px);
}

.d7 {
	transform: translate(375px, 125px);
}

.e7 {
	transform: translate(500px, 125px);
}

.f7 {
	transform: translate(625px, 125px);
}

.g7 {
	transform: translate(750px, 125px);
}

.h7 {
	transform: translate(875px, 125px);
}





.a8 {
	transform: translate(0, 0);
}

.b8 {
	transform: translate(125px, 0);
}

.c8 {
	transform: translate(250px, 0);
}

.d8 {
	transform: translate(375px, 0);
}

.e8 {
	transform: translate(500px, 0);
}

.f8 {
	transform: translate(625px, 0);
}

.g8 {
	transform: translate(750px, 0);
}

.h8 {
	transform: translate(875px, 0);
}