input {
	display: none;
}

#label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 1em;
	background: #13c07e;
	border-radius: 1em;

	font: 38px Lato;
	font-weight: bold;
}
